[1] bronze/operators/tasks/task_json_to_delta.DataPipeline/pipeline-content.json
{
  "properties": {
    "activities": [
      {
        "type": "Lookup",
        "typeProperties": {
          "source": {
            "type": "FabricSqlDatabaseSource",
            "sqlReaderStoredProcedureName": "[dbo].[get_task_json_to_delta]",
            "storedProcedureParameters": {
              "task_id": {
                "value": {
                  "value": "@pipeline().parameters.task_id",
                  "type": "Expression"
                },
                "type": "String"
              }
            },
            "partitionOption": "None",
            "queryTimeout": "02:00:00"
          },
          "datasetSettings": {
            "type": "FabricSqlDatabaseTable",
            "schema": [],
            "connectionSettings": {
              "name": "meta_data",
              "properties": {
                "type": "FabricSqlDatabase",
                "typeProperties": {
                  "artifactId": "9d2f8001-d815-9d78-4d76-6f10d6cac2ad",
                  "workspaceId": "00000000-0000-0000-0000-000000000000"
                },
                "externalReferences": {
                  "connection": "5ce2552f-bda6-4456-8df2-5b8dc7c3fb77"
                },
                "annotations": []
              }
            },
            "annotations": []
          },
          "firstRowOnly": false
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "lookup_meta_data",
        "dependsOn": []
      },
      {
        "type": "TridentNotebook",
        "typeProperties": {
          "notebookId": "d9e36c11-1dbe-b367-4268-fe33dedd89e3",
          "workspaceId": "00000000-0000-0000-0000-000000000000",
          "parameters": {
            "target_path": {
              "value": {
                "value": "@coalesce(\n    pipeline().parameters.target_path,\n    activity('lookup_meta_data').output.value[0].target_path\n)",
                "type": "Expression"
              },
              "type": "string"
            },
            "source_path": {
              "value": {
                "value": "@coalesce(\n    pipeline().parameters.source_path,\n    activity('lookup_meta_data').output.value[0].source_path\n)",
                "type": "Expression"
              },
              "type": "string"
            },
            "flatten_depth": {
              "value": {
                "value": "@coalesce(\n    pipeline().parameters.flatten_depth,\n    activity('lookup_meta_data').output.value[0].flatten_depth\n)",
                "type": "Expression"
              },
              "type": "string"
            },
            "min_partition": {
              "value": {
                "value": "@coalesce(\n    pipeline().parameters.min_partition,\n    if(\n        empty(activity('lookup_meta_data_dynamic').output.value),\n        null,\n        activity('lookup_meta_data_dynamic').output.value[0].min_partition\n    )\n)",
                "type": "Expression"
              },
              "type": "string"
            }
          }
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "task",
        "dependsOn": [
          {
            "activity": "lookup_meta_data",
            "dependencyConditions": [
              "Succeeded"
            ]
          },
          {
            "activity": "lookup_meta_data_dynamic",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "SqlServerStoredProcedure",
        "typeProperties": {
          "storedProcedureName": "[dbo].[update_task_json_to_delta_dynamic]",
          "storedProcedureParameters": {
            "task_id": {
              "value": {
                "value": "@pipeline().parameters.task_id",
                "type": "Expression"
              },
              "type": "String"
            },
            "min_partition": {
              "value": {
                "value": "@activity('task').output.result.exitValue",
                "type": "Expression"
              },
              "type": "String"
            }
          }
        },
        "connectionSettings": {
          "name": "meta_data",
          "properties": {
            "type": "FabricSqlDatabase",
            "typeProperties": {
              "artifactId": "9d2f8001-d815-9d78-4d76-6f10d6cac2ad",
              "workspaceId": "00000000-0000-0000-0000-000000000000"
            },
            "externalReferences": {
              "connection": "5ce2552f-bda6-4456-8df2-5b8dc7c3fb77"
            },
            "annotations": []
          }
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "update_meta_data_dynamic",
        "dependsOn": [
          {
            "activity": "task",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "Lookup",
        "typeProperties": {
          "source": {
            "type": "FabricSqlDatabaseSource",
            "sqlReaderStoredProcedureName": "[dbo].[get_task_json_to_delta_dynamic]",
            "storedProcedureParameters": {
              "task_id": {
                "value": {
                  "value": "@pipeline().parameters.task_id",
                  "type": "Expression"
                },
                "type": "String"
              }
            },
            "partitionOption": "None",
            "queryTimeout": "02:00:00"
          },
          "datasetSettings": {
            "type": "FabricSqlDatabaseTable",
            "schema": [],
            "connectionSettings": {
              "name": "meta_data",
              "properties": {
                "type": "FabricSqlDatabase",
                "typeProperties": {
                  "artifactId": "9d2f8001-d815-9d78-4d76-6f10d6cac2ad",
                  "workspaceId": "00000000-0000-0000-0000-000000000000"
                },
                "externalReferences": {
                  "connection": "5ce2552f-bda6-4456-8df2-5b8dc7c3fb77"
                },
                "annotations": []
              }
            },
            "annotations": []
          },
          "firstRowOnly": false
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "lookup_meta_data_dynamic",
        "dependsOn": []
      }
    ],
    "parameters": {
      "task_id": {
        "type": "string"
      },
      "target_path": {
        "type": "string"
      },
      "source_path": {
        "type": "string"
      },
      "flatten_depth": {
        "type": "string"
      },
      "min_partition": {
        "type": "string"
      }
    }
  }
}